

/*import fonts*/

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oxygen:wght@300;400;700&display=swap');


/*define heading formatting*/

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  font-family: "Major Mono Display";
}

.header h1 {
  font-size: 42pt;
}

.header h2 { 
  font-size: 34pt;
}

.header h3 {
  font-size: 28pt;
  background-color: #1f1f1f1f;
}

/*define navbar format*/

.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30pt;
  font-family: "Major Mono Display";
}

.nav, .nav--right a {
  text-align: right;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.column {
  float: left;
  width: 31.33%;
  padding-right: 1%;
  padding-left: 1%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}


/* Parallax Scrolling */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
  background-image: '../assets/wallpapers/vista.png';
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}

/*content padding*/

#content {
  margin-top: 300px;
  margin-right: 30px;
  margin-left: 30px;
}

/*element formatting*/

p {
  font-family: 'Oxygen';
  font-size: 12pt;
}

.centered {
  text-align: center;
}