



@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oxygen:wght@300;400;700&display=swap');

/* Parallax Scrolling */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}